@layer brick.components {
  .brick-form {
    --brick-form-gap: var(--brick-space-5);
    --brick-form-fieldset-gap: var(--brick-space-6);

    display: grid;
    min-inline-size: 0;
    row-gap: var(--brick-form-gap);
  }

  .brick-form > .brick-fieldset {
    --brick-fieldset-gap: var(--brick-form-fieldset-gap);
  }

  .brick-form[data-submitting] {
    cursor: progress;
  }
}
