@layer brick.utilities {
  .brick-frame[data-frame] {
    --brick-frame-inline-size: initial;
    --brick-frame-inline-size-sm: initial;
    --brick-frame-inline-size-md: initial;
    --brick-frame-inline-size-lg: initial;
    --brick-frame-inline-size-xl: initial;
    --brick-frame-min-inline-size: initial;
    --brick-frame-min-inline-size-sm: initial;
    --brick-frame-min-inline-size-md: initial;
    --brick-frame-min-inline-size-lg: initial;
    --brick-frame-min-inline-size-xl: initial;
    --brick-frame-max-inline-size: initial;
    --brick-frame-max-inline-size-sm: initial;
    --brick-frame-max-inline-size-md: initial;
    --brick-frame-max-inline-size-lg: initial;
    --brick-frame-max-inline-size-xl: initial;
    --brick-frame-block-size: initial;
    --brick-frame-block-size-sm: initial;
    --brick-frame-block-size-md: initial;
    --brick-frame-block-size-lg: initial;
    --brick-frame-block-size-xl: initial;
    --brick-frame-min-block-size: initial;
    --brick-frame-min-block-size-sm: initial;
    --brick-frame-min-block-size-md: initial;
    --brick-frame-min-block-size-lg: initial;
    --brick-frame-min-block-size-xl: initial;
    --brick-frame-max-block-size: initial;
    --brick-frame-max-block-size-sm: initial;
    --brick-frame-max-block-size-md: initial;
    --brick-frame-max-block-size-lg: initial;
    --brick-frame-max-block-size-xl: initial;
  }
  .brick-frame[data-frame][data-frame-inline-size="initial"] {
    inline-size: var(--brick-frame-inline-size);
  }
  .brick-frame[data-frame][data-frame-min-inline-size="initial"] {
    min-inline-size: var(--brick-frame-min-inline-size);
  }
  .brick-frame[data-frame][data-frame-max-inline-size="initial"] {
    max-inline-size: var(--brick-frame-max-inline-size);
  }
  .brick-frame[data-frame][data-frame-block-size="initial"] {
    block-size: var(--brick-frame-block-size);
  }
  .brick-frame[data-frame][data-frame-min-block-size="initial"] {
    min-block-size: var(--brick-frame-min-block-size);
  }
  .brick-frame[data-frame][data-frame-max-block-size="initial"] {
    max-block-size: var(--brick-frame-max-block-size);
  }
  @media (min-width: 30rem) {
    .brick-frame[data-frame][data-frame-inline-size="initial"],
    .brick-frame[data-frame][data-frame-inline-size="sm"] {
      inline-size: var(--brick-frame-inline-size-sm, var(--brick-frame-inline-size));
    }
    .brick-frame[data-frame][data-frame-min-inline-size="initial"],
    .brick-frame[data-frame][data-frame-min-inline-size="sm"] {
      min-inline-size: var(--brick-frame-min-inline-size-sm, var(--brick-frame-min-inline-size));
    }
    .brick-frame[data-frame][data-frame-max-inline-size="initial"],
    .brick-frame[data-frame][data-frame-max-inline-size="sm"] {
      max-inline-size: var(--brick-frame-max-inline-size-sm, var(--brick-frame-max-inline-size));
    }
    .brick-frame[data-frame][data-frame-block-size="initial"],
    .brick-frame[data-frame][data-frame-block-size="sm"] {
      block-size: var(--brick-frame-block-size-sm, var(--brick-frame-block-size));
    }
    .brick-frame[data-frame][data-frame-min-block-size="initial"],
    .brick-frame[data-frame][data-frame-min-block-size="sm"] {
      min-block-size: var(--brick-frame-min-block-size-sm, var(--brick-frame-min-block-size));
    }
    .brick-frame[data-frame][data-frame-max-block-size="initial"],
    .brick-frame[data-frame][data-frame-max-block-size="sm"] {
      max-block-size: var(--brick-frame-max-block-size-sm, var(--brick-frame-max-block-size));
    }
  }
  @media (min-width: 48rem) {
    .brick-frame[data-frame][data-frame-inline-size="initial"],
    .brick-frame[data-frame][data-frame-inline-size="sm"],
    .brick-frame[data-frame][data-frame-inline-size="md"] {
      inline-size: var(--brick-frame-inline-size-md, var(--brick-frame-inline-size-sm, var(--brick-frame-inline-size)));
    }
    .brick-frame[data-frame][data-frame-min-inline-size="initial"],
    .brick-frame[data-frame][data-frame-min-inline-size="sm"],
    .brick-frame[data-frame][data-frame-min-inline-size="md"] {
      min-inline-size: var(--brick-frame-min-inline-size-md, var(--brick-frame-min-inline-size-sm, var(--brick-frame-min-inline-size)));
    }
    .brick-frame[data-frame][data-frame-max-inline-size="initial"],
    .brick-frame[data-frame][data-frame-max-inline-size="sm"],
    .brick-frame[data-frame][data-frame-max-inline-size="md"] {
      max-inline-size: var(--brick-frame-max-inline-size-md, var(--brick-frame-max-inline-size-sm, var(--brick-frame-max-inline-size)));
    }
    .brick-frame[data-frame][data-frame-block-size="initial"],
    .brick-frame[data-frame][data-frame-block-size="sm"],
    .brick-frame[data-frame][data-frame-block-size="md"] {
      block-size: var(--brick-frame-block-size-md, var(--brick-frame-block-size-sm, var(--brick-frame-block-size)));
    }
    .brick-frame[data-frame][data-frame-min-block-size="initial"],
    .brick-frame[data-frame][data-frame-min-block-size="sm"],
    .brick-frame[data-frame][data-frame-min-block-size="md"] {
      min-block-size: var(--brick-frame-min-block-size-md, var(--brick-frame-min-block-size-sm, var(--brick-frame-min-block-size)));
    }
    .brick-frame[data-frame][data-frame-max-block-size="initial"],
    .brick-frame[data-frame][data-frame-max-block-size="sm"],
    .brick-frame[data-frame][data-frame-max-block-size="md"] {
      max-block-size: var(--brick-frame-max-block-size-md, var(--brick-frame-max-block-size-sm, var(--brick-frame-max-block-size)));
    }
  }
  @media (min-width: 64rem) {
    .brick-frame[data-frame][data-frame-inline-size="initial"],
    .brick-frame[data-frame][data-frame-inline-size="sm"],
    .brick-frame[data-frame][data-frame-inline-size="md"],
    .brick-frame[data-frame][data-frame-inline-size="lg"] {
      inline-size: var(--brick-frame-inline-size-lg, var(--brick-frame-inline-size-md, var(--brick-frame-inline-size-sm, var(--brick-frame-inline-size))));
    }
    .brick-frame[data-frame][data-frame-min-inline-size="initial"],
    .brick-frame[data-frame][data-frame-min-inline-size="sm"],
    .brick-frame[data-frame][data-frame-min-inline-size="md"],
    .brick-frame[data-frame][data-frame-min-inline-size="lg"] {
      min-inline-size: var(--brick-frame-min-inline-size-lg, var(--brick-frame-min-inline-size-md, var(--brick-frame-min-inline-size-sm, var(--brick-frame-min-inline-size))));
    }
    .brick-frame[data-frame][data-frame-max-inline-size="initial"],
    .brick-frame[data-frame][data-frame-max-inline-size="sm"],
    .brick-frame[data-frame][data-frame-max-inline-size="md"],
    .brick-frame[data-frame][data-frame-max-inline-size="lg"] {
      max-inline-size: var(--brick-frame-max-inline-size-lg, var(--brick-frame-max-inline-size-md, var(--brick-frame-max-inline-size-sm, var(--brick-frame-max-inline-size))));
    }
    .brick-frame[data-frame][data-frame-block-size="initial"],
    .brick-frame[data-frame][data-frame-block-size="sm"],
    .brick-frame[data-frame][data-frame-block-size="md"],
    .brick-frame[data-frame][data-frame-block-size="lg"] {
      block-size: var(--brick-frame-block-size-lg, var(--brick-frame-block-size-md, var(--brick-frame-block-size-sm, var(--brick-frame-block-size))));
    }
    .brick-frame[data-frame][data-frame-min-block-size="initial"],
    .brick-frame[data-frame][data-frame-min-block-size="sm"],
    .brick-frame[data-frame][data-frame-min-block-size="md"],
    .brick-frame[data-frame][data-frame-min-block-size="lg"] {
      min-block-size: var(--brick-frame-min-block-size-lg, var(--brick-frame-min-block-size-md, var(--brick-frame-min-block-size-sm, var(--brick-frame-min-block-size))));
    }
    .brick-frame[data-frame][data-frame-max-block-size="initial"],
    .brick-frame[data-frame][data-frame-max-block-size="sm"],
    .brick-frame[data-frame][data-frame-max-block-size="md"],
    .brick-frame[data-frame][data-frame-max-block-size="lg"] {
      max-block-size: var(--brick-frame-max-block-size-lg, var(--brick-frame-max-block-size-md, var(--brick-frame-max-block-size-sm, var(--brick-frame-max-block-size))));
    }
  }
  @media (min-width: 80rem) {
    .brick-frame[data-frame][data-frame-inline-size="initial"],
    .brick-frame[data-frame][data-frame-inline-size="sm"],
    .brick-frame[data-frame][data-frame-inline-size="md"],
    .brick-frame[data-frame][data-frame-inline-size="lg"],
    .brick-frame[data-frame][data-frame-inline-size="xl"] {
      inline-size: var(--brick-frame-inline-size-xl, var(--brick-frame-inline-size-lg, var(--brick-frame-inline-size-md, var(--brick-frame-inline-size-sm, var(--brick-frame-inline-size)))));
    }
    .brick-frame[data-frame][data-frame-min-inline-size="initial"],
    .brick-frame[data-frame][data-frame-min-inline-size="sm"],
    .brick-frame[data-frame][data-frame-min-inline-size="md"],
    .brick-frame[data-frame][data-frame-min-inline-size="lg"],
    .brick-frame[data-frame][data-frame-min-inline-size="xl"] {
      min-inline-size: var(--brick-frame-min-inline-size-xl, var(--brick-frame-min-inline-size-lg, var(--brick-frame-min-inline-size-md, var(--brick-frame-min-inline-size-sm, var(--brick-frame-min-inline-size)))));
    }
    .brick-frame[data-frame][data-frame-max-inline-size="initial"],
    .brick-frame[data-frame][data-frame-max-inline-size="sm"],
    .brick-frame[data-frame][data-frame-max-inline-size="md"],
    .brick-frame[data-frame][data-frame-max-inline-size="lg"],
    .brick-frame[data-frame][data-frame-max-inline-size="xl"] {
      max-inline-size: var(--brick-frame-max-inline-size-xl, var(--brick-frame-max-inline-size-lg, var(--brick-frame-max-inline-size-md, var(--brick-frame-max-inline-size-sm, var(--brick-frame-max-inline-size)))));
    }
    .brick-frame[data-frame][data-frame-block-size="initial"],
    .brick-frame[data-frame][data-frame-block-size="sm"],
    .brick-frame[data-frame][data-frame-block-size="md"],
    .brick-frame[data-frame][data-frame-block-size="lg"],
    .brick-frame[data-frame][data-frame-block-size="xl"] {
      block-size: var(--brick-frame-block-size-xl, var(--brick-frame-block-size-lg, var(--brick-frame-block-size-md, var(--brick-frame-block-size-sm, var(--brick-frame-block-size)))));
    }
    .brick-frame[data-frame][data-frame-min-block-size="initial"],
    .brick-frame[data-frame][data-frame-min-block-size="sm"],
    .brick-frame[data-frame][data-frame-min-block-size="md"],
    .brick-frame[data-frame][data-frame-min-block-size="lg"],
    .brick-frame[data-frame][data-frame-min-block-size="xl"] {
      min-block-size: var(--brick-frame-min-block-size-xl, var(--brick-frame-min-block-size-lg, var(--brick-frame-min-block-size-md, var(--brick-frame-min-block-size-sm, var(--brick-frame-min-block-size)))));
    }
    .brick-frame[data-frame][data-frame-max-block-size="initial"],
    .brick-frame[data-frame][data-frame-max-block-size="sm"],
    .brick-frame[data-frame][data-frame-max-block-size="md"],
    .brick-frame[data-frame][data-frame-max-block-size="lg"],
    .brick-frame[data-frame][data-frame-max-block-size="xl"] {
      max-block-size: var(--brick-frame-max-block-size-xl, var(--brick-frame-max-block-size-lg, var(--brick-frame-max-block-size-md, var(--brick-frame-max-block-size-sm, var(--brick-frame-max-block-size)))));
    }
  }
}
