@import "./layers.css";

@layer brick.reset {
  :where(:focus-visible) {
    outline: var(--brick-border-focus-width, 2px) solid
      var(--brick-color-focus-ring, Highlight);
    outline-offset: var(--brick-border-focus-offset, 4px);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-block-size: 100%;
    color-scheme: light dark;
    text-size-adjust: 100%;
  }

  body {
    min-block-size: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background: var(--brick-color-selection-background);
    color: var(--brick-color-selection-foreground);
  }

  blockquote,
  figure {
    margin: 0;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-inline-size: 100%;
  }

  [hidden] {
    display: none !important;
  }

  @media (forced-colors: active) {
    :where(:focus-visible) {
      outline-color: Highlight;
    }

    ::selection {
      background: Highlight;
      color: HighlightText;
    }
  }
}
