@layer brick.components {
  :where(.brick-button, .brick-icon-button)[data-loading]::after {
    --brick-spinner-size: var(--brick-action-spinner-size);
    --brick-spinner-color: var(--brick-action-spinner-color);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    translate: -50% -50%;
    content: "";
  }

  :where([dir="rtl"])
    :where(.brick-button, .brick-icon-button)[data-loading]::after {
    translate: 50% -50%;
  }

  @media (forced-colors: active) {
    :where(.brick-button, .brick-icon-button)[data-loading]::after {
      --brick-spinner-color: ButtonText;
    }
  }

}
